.table>.row {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

.table>.row>span{
  grid-column: 1;

}

.table>.row>.cost {
  grid-column: 2;
}

.table>.row>.icons {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
}

.table>.row>.icons>i {
  margin: 0 7px;
  background-color: #ece9e9;
}

.table>.row>.icons>.fa-trash {
  color: red;
}

.table>.row>.icons>.fa-star {
  color: yellow;
  background-color: transparent;
}

.table>.row>.icons>.fa-cookie {
  color: rgb(161, 109, 31);
}

.table>.row.increase {
  color: rgb(161, 109, 31);
}